/*Animation*/
@keyframes enterHead {
  0% {
    opacity: 0;
    transform: scale(0.0);
  }

  50% {
    opacity: 1;
    transform: scale(1.0);
  }
}

@keyframes enterDown {
  0% {
    opacity: 0;
    transform: scale(0.0);
  }

  50% {
    opacity: 0;
    transform: scale(0.0);
  }

  100% {
    opacity: 1;
    transform: scale(1.0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

body {
  background-color: rgb(210,210,210);
}

main {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.cat {
  color: #59d2ef;
  position: relative;
  display: inline-block;
}
/*:after defini ce que contient la balise fermante de .cat*/
.cat:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  border-bottom: 2px dashed #59d2ef;
  transition: 0.4s;
}
/*lorsque .cat est hover, le contenue de la balise fermante grandi a la taille du texte*/
.cat:hover:after {
  width: 100%;
}



#enTete {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: enterHead 1.5s;
  margin-bottom: 80px;
}

section:last-child {
  margin-bottom: 100px;
}

section:not(#enTete) {
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  padding-bottom: 2%;
  border-bottom: double;
  border-width: thick;
  animation: enterDown 1.5s;
  background-color: rgb(230, 230, 230);
}

#Categorie a {
  color: black;
}

#Categorie a:hover {
  color: #59d2ef;
}

#Categorie article {
  font-size: 52%;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 2%;
  border-width: thick;
  animation: enterDown 1.5s;
  background-color: rgb(200, 200, 200);
}

#Categorie article h1 {
  border-left-style: ridge;
  padding: 2% 5% 2% 5%;
  justify-content: center;
}

#Categorie h1:first-child {
  border: none;
}

[for]::before {
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #59d2ef;
  content: "+";
  background: rgba(0,0,0,0);
}

[for]:hover {
  color: #59d2ef;
}

[type=checkbox] {
  display: none;
}
/* Etat par defaut */
[type=checkbox] ~ .reponse {
  margin-left: 7%;
  display: none;
  color: #696969;
}
/* Etat activé*/
[type=checkbox]:checked ~ .reponse {
  font-size: 15px;
  display: inline-block;
  -webkit-animation: slide-down .5s ease-out;
  -moz-animation: slide-down .5s ease-out;
}

[type=checkbox]:checked ~ [for]::before {
  height: 30px;
  width: 30px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #59d2ef;
  content: "-";
  background: rgba(0,0,0,0);
}

h1 {
  font-family: 'Source Sans Pro';
  line-height: 27px;
  color: #122844;
  font-size: 200%;
}

.question {
  font-size: 20px;
}

.question:not(:last-child) {
  width: auto;
}

#FAQ h2 {
  line-height: 27px;
  color: #122844;
  border-bottom: inset;
  border-color: #00FFFF;
  border-radius: 2%;
  font-size: 100%;
  border-bottom-width: medium;
}

.question {
  font-size: 20px;
}

.question:not(:last-child) {
  width: auto;
}

#FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media (max-width: 980px) {
  section:not(#enTete):not(#menuFAQ) {
    margin-left: 10px;
  }

  section#enTete * {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  #Categorie article {
    flex-direction: column;
  }

  #Categorie article h1 {
    border: none;
  }
}
